<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <meta name="description" content="<%=des%>">
    <link rel="stylesheet" href="<%=css%>">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../img/logo.png" alt="">
            <h1>ပၢႆးမႂ်ႇ</h1>
        </div>
        <form method="post" action="" class="search">
            <input type="text" required placeholder="Search content">
            <a href=""><ion-icon name="scan-outline"></ion-icon></a><hr>
            <button type="submit"><ion-icon name="search-outline"></ion-icon><p>Search</p></button>
        </form>
        <div class="link">
            <a href="" class="searchicon"><ion-icon name="search-outline"></ion-icon></a>
            <a href="" class="scan"><ion-icon name="scan-outline"></ion-icon></a>
            <a href=""><ion-icon name="camera-outline"></ion-icon><p>Upload</p></a>
            <a href=""><ion-icon name="download-outline"></ion-icon><p>Download</p></a>
            <a href=""><ion-icon name="notifications-outline"></ion-icon><p>Alerts</p></a>
            <a href="settings"><ion-icon name="settings-outline"></ion-icon><p>Settings</p></a>
            <a href=""><ion-icon name="person-circle-outline"></ion-icon><p>Profile</p></a>
        </div>
    </nav>
    <div class="div">
        <div class="menu">
            <a href="https://baimai.vercel.app" class="active"><ion-icon name="home-outline"></ion-icon><p>Home</p></a>
            <a href=""><ion-icon name="camera-outline"></ion-icon></a>
            <a href=""><ion-icon name="scan-outline"></ion-icon></a>
            <a href=""><ion-icon name="images-outline"></ion-icon><p>My Posts</p></a>
            <a href=""><ion-icon name="people-outline"></ion-icon><p>Friends</p></a>
            <a href=""><ion-icon name="bookmarks-outline"></ion-icon><p>Saved</p></a>
            <hr>
            <a href=""><ion-icon name="flash-outline"></ion-icon><p>Live</p></a>
            <a href=""><ion-icon name="game-controller-outline"></ion-icon><p>Games</p></a>
            <a href=""><ion-icon name="musical-notes-outline"></ion-icon><p>Music</p></a>
            <a href=""><ion-icon name="bus-outline"></ion-icon><p>Travel</p></a>
            <a href=""><ion-icon name="fast-food-outline"></ion-icon><p>Foods</p></a>
            <a href=""><ion-icon name="briefcase-outline"></ion-icon><p>Jobs</p></a>
            <hr>
            <a href=""><ion-icon name="megaphone-outline"></ion-icon><p>Advertise</p></a>
            <a href=""><ion-icon name="newspaper-outline"></ion-icon><p>Terms & conditions</p></a>
            <a href=""><ion-icon name="warning-outline"></ion-icon><p>Privacy & Policy</p></a>
        </div>
        <%- include(component,{data:data})-%>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>    
</body>
</html>