<div class="img">
    <img onerror="this.remove()" src="<%=list.img1%>" alt="">
    <img onerror="this.remove()" src="<%=list.img2%>" alt="">
    <img onerror="this.remove()" src="<%=list.img3%>" alt="">
    <%if(list.img4 != null){%>
        <a href="post/<%=list.id%>" class="photomore">
            <ion-icon name="grid-outline"></ion-icon>
            <p>See more</p>
        </a>
    <%}%>
</div>