
    <a href="" class="poster">
        <img src="item.poster_img" alt="">
        <div class="name">
            <h2></h2>
            <p><ion-icon name="stopwatch-outline"></ion-icon> item.date</p>
        </div>
    </a>