<div class="settinghover">
    <div class="select">
        <a href="javascript:tosite()">Site settings</a>
        <a href="javascript:toacc()">Account settings</a>
    </div>
    <div class="setting">
        <div class="left">
            <h1>Site Settings</h1>
            <div class="settingrid">
                <div class="sitem" title="Set dark mode on or off">
                    <h2>Dark mode</h2>
                    <div class="siin">
                        <p>on</p>
                        <div class="switch off"><div class="switchin"></div></div>
                        <p>off</p>
                    </div>
                </div>
                <div class="sitem">
                    <h2>Language</h2>
                    <div id="google_translate_element"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <h1>Account Settings</h1>
            <div class="accinfo">
                <p>Name</p>
                <span><%=data.user.user_metadata.name%></span>
                <p>Email</p>
                <span><%=data.user.email%></span>
            </div><hr>
            <h2>Reset</h2>
            <p>If you forget or miss some of account settings.</p>
            <a href=""><ion-icon name="create-outline"></ion-icon><p>Edit name</p></a>
            <a href=""><ion-icon name="key-outline"></ion-icon><p>Reset password</p></a>
            <hr>
            <h2>Tools</h2>
            <p>Other tools for setting your account.</p>
            <a href=""><ion-icon name="phone-portrait-outline"></ion-icon><p>Logined device</p></a>
            <a href=""><ion-icon name="time-outline"></ion-icon><p>Logined history</p></a>
            <a href=""><ion-icon name="ribbon-outline"></ion-icon><p>Account status</p></a>
            <a href=""><ion-icon name="download-outline"></ion-icon><p>Download my data</p></a>
            <hr>
            <button class="logoutbtn" onclick="logout()" style="
                color: red;
                display: flex;
                justify-content: center;
                margin: 5px auto;
                width: 36%;
                cursor: pointer;
                background: none;
                padding: 8px;
                outline: none;
                border: 2px solid red;
                border-radius: 9px;
                align-items: center;
            "><ion-icon style="font-size: 23px;" name="trash-outline"></ion-icon><p style="color: red;">Logout</p></button>
        </div>
    </div>
</div>
<script>
    var sitediv = document.querySelector(".setting .left");
    var accdiv = document.querySelector(".setting .right");
    var tositebtn = document.querySelector(".select a:nth-child(1)");
    var toaccbtn = document.querySelector(".select a:nth-child(2)");
    function tosite(){
        sitediv.style.display = 'flex';
        accdiv.style.display = 'none';
        tositebtn.style.color = 'royalblue';
        tositebtn.style.borderColor = 'royalblue';
        toaccbtn.style.color = 'var(--color)';
        toaccbtn.style.borderColor = 'transparent';
    }
    function toacc(){
        sitediv.style.display = 'none';
        accdiv.style.display = 'flex';
        toaccbtn.style.color = 'royalblue';
        toaccbtn.style.borderColor = 'royalblue';
        tositebtn.style.color = 'var(--color)';
        tositebtn.style.borderColor = 'transparent';
    }
    function logout(){
        let link = window.location.href;
        var api = link.split('setting')[0]+'logout';
        let ask = confirm('Are you sure to logout?');
        if(ask == true){
            fetch(api).then(re=>re.json()).then(g=>{
                if(g.status == 'success'){
                    window.location.href = '../auth/login'
                }
            })
        }
    }
</script>